body, input {
    font: 18px Trebuchet MS;
}
body {
    background-color: #1a1616;
}
main {
    display: flex;
    justify-content: flex-end;
}
main>aside {
    position: relative;
    width: 180px;
}
aside>div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 20px;
}
input {
    background-color: #201f1f;
    color: #bbb;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin: 0 3px;
}
input[type=date] {
    width: 150px;
}
input[type=number] {
    width: 60px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 50vh;
    overflow: auto;
}
button, summary {
    cursor: pointer;
}
button, .button {
    font: 16px Trebuchet MS;
    text-align: center;
    display: inline-block;
    color: #faf9f9;
    background: none;
    border: 1px solid;
    border-radius: 10px;
    min-width: 70px;
    padding: 4px 8px;
}

button:active, .button:active {
    transform: translateY(2px);
}

#activityView, #questView {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#activityView summary, #questView summary, #archiveList summary {
    justify-content: space-between;
    outline: none;
    margin: 4px;
}
#activityView>details>div {
    display: flex;
}
#activityView input {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px;
    font-size: 16px; 
}
#activityView input:first-child {
    width: 40%;
}
#activityView input:nth-child(2) {
    width: 25%;
}
#activityView input:nth-child(3) {
    width: 25%;
}
#activityView details button {
    color: #fcd582;
}
#reportModal button {
    color: #fcaa3f;
}
.brick-list {
    margin: auto;
    padding: 0;
}
.brick-list details, #activityView details, #archiveList details {
    display: flex;
    width: 400px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
} 
.brick-list summary {
    display: flex;
    align-items: center;
}
.brick-list summary::-webkit-details-marker, 
#activityInfoModal summary::-webkit-details-marker {
    display:none;
}
#activityList details, #activityView details, 
#archiveModal.activities, #activityInfoModal, #questInfoModal>div:first-child {
    background-color: #423603;
    color: #f0c76f;
}
#activityList span:first-child, #questList span:first-child, #archiveList span:first-child {
    width: 60%;
}

#activityList span:nth-child(2), #questList span:nth-child(2), #archiveList span:first-child(2) {
    width: 30%;
}
#activityList span:nth-child(3), #questList span:nth-child(3), #archiveList span:first-child(3) {
    width: 10%;
}
#activityList button, #getQuestModal button, #questList button {
    margin: 0 10px;
}
#questList details, #activityInfoModal details, #questInfoModal {
    background-color: #044704;
    color: #18d328;
}
#questList summary, #archiveList summary {
    flex-wrap: wrap;
}
#questList span:nth-child(n+4), #archiveList span:nth-child(n+4) {
    font-size: 16px;
    margin: 4px 0;
}
#questInfoModal>div:first-child {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}
#questInfoModal li {
    width: 70%;
    text-align: right;
}
#questInfoModal p {
    text-align: center;
}

#confidenceView {
    border: 1px;
    border-radius: 50%;
    background-color: #c9ae57;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    line-height: 2;
    max-height: 90%;
    overflow: auto;
}
.modal>div, details>div, #alertModal, #promptModal {
    text-align: center;
}
.modal>div:last-child {
    margin: 10px;
}
#todoModal, #getQuestModal, #archiveModal.quests {
    width: 500px;
    background-color: #044704;
    color: #9edfa3;
}
#reportModal {
    width: 500px;
    background-color: #360d02;
    color: #ff8800;
}
#archiveModal, #promptModal {
    width: 500px;
    background-color: #474747;
    color: #eeeeee;
}
#archiveModal button {
    color: inherit;
}
#archiveModal>.tabs>:first-child {
    background-color: #423603;
    color: #fcd582;
}
.tabs>:last-child {
    background-color: #044704;
    color: #8FE296 !important;
}
#todoList li, #reportModal .todos li {
    margin: auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#todoList span:first-child, #overdueTodoList .todos span:first-child {
    white-space: nowrap;
}
#todoList button, #overdueTodoList button {
    min-width: 38px;
}
#todoList .failed, #overdueTodoList .failed {
    color: red;
}
#todoList .done, #overdueTodoList .done {
    color: lime;
}
#todoList span:nth-child(2) {
    width: 55%;
}
#todoList span:not(:last-child), #overdueTodoList .todos span:not(:last-child) {
    margin-right: 5px;
}
#todoList span:last-child, #overdueTodoList .todos span:last-child {
    margin-left: 5px;
}
#todoList div, #overdueTodoList div {
    position: absolute;
    width: 90%;
    height: 3px;
    right: 0;
}
#todoList .failed div, #overdueTodoList .failed div {
    background-color: red;
}
#todoList .done div, #overdueTodoList .done div {
    background-color: lime;
}


#getQuestModal button, #questList button, #todoModal button {
    color: #8fe296;
}
#alertModal {
    width: 300px;
    background-color: #a75f5f;
    color: #eeeeee;
    line-height: unset;
}
#activityInfoModal {
    display: flex;
    flex-flow: column;
}
#activityInfoModal input {
    margin: 5px 10px;
}
#activityInfoModal div:first-child input {
    width: 75%;
}
#activityInfoModal summary {
    justify-content: space-between;
}
#activityInfoModal details {
    width: 460px;
}
#dateTimeView {
    color: #faf9f9;
}
#dateTimeView h3 {
    color: #faf9f9;
    margin: 2px;
    text-align: center;
}
#toolbar {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
#toolbar button {
    position: relative;
    margin: 3px;
    min-width: 70px;
}
#showTodoBtn:not([data-count="0"])::after, #reportBtn:not([data-count="0"])::after {
    content: attr(data-count);
    color: white;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#showTodoBtn::after {
    left: 35px;
    top: 21px;
}
#reportBtn::after {
    left: -7px;
    top: 7px;
}
[hidden] {
    display: none !important;
}
::-webkit-scrollbar {
    background: none;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #faf9f9;  
    border-radius: 4px;
}